#main {
	height: 100%;
	width: 100%;
	position: relative;
/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
*/
  }
  
  #buttons1 {
	right: 1%;
	bottom: 3%;
	position: absolute;
  }

  #buttons2 {
	right: 1%;
	top: 3%;
    position: absolute;
  }

#map {
    height: 100%;
    
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
	height: 100%;
	margin: 0;
    padding: 0;
  }

  .mapbuttons {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
  }

  #biblo {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
  }