/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* GOOGLE MAP CSS */
#main {
	height: 100%;
	width: 100%;
	position: relative;
/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
*/
}

#requestCoffee {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 70px;
}

#requestCoffee img{
  width: 100%;
}

#buttons2 {
right: 1%;
top: 3%;
  position: absolute;
}

#map {
    height: 100%;
}

.mapbuttons {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}

#biblo {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}
/* END OF GOOGLE MAP CSS */

/* ONSEN UI CSS */
body .page__background {
  background-color: #4e280d;
}
/* END OF ONSEN UI */

/* OTHER PAGE CSS */
#optionButtons {
  width: 90%;
  margin: auto;
  text-align: center;
  color: white;
}

#optionButtons img{
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#optionButtons h1{
  position: relative;
  display: block;
}

#getCoffee {
  position: absolute;
  margin: auto;
  top: 0;
  right: 1;
  bottom: 0;
  left: 0;

  height: 70%;
  width: 48%;

  border: 2px solid black;
}

#runCoffee {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1;

  height: 70%;
  width: 48%;

  border: 2px solid black;
}
/* END OF PAGE CSS */