/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* GOOGLE MAP CSS */
#main {
	height: 100%;
	width: 100%;
	position: relative;
/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
*/
}

#requestIcon {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 80px;
  cursor: pointer;
}

#requestIcon img{
  width: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(80, 80, 80));
  filter: drop-shadow(5px 5px 5px rgb(80, 80, 80));
}

#requestPage{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  width: 80%;

  background-color: beige;
  border-radius: 2px;
  border: 2px solid black;
  text-align: center;
}

#requestPage button{
  background-color: #ea6a36;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  margin-bottom: 5%;
  cursor: pointer;
}

#orderNumberPage{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  width: 80%;

  background-color: beige;
  border-radius: 2px;
  border: 2px solid black;
  text-align: center;
}

#orderNumberPage button{
  background-color: #ea6a36;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  margin-bottom: 5%;
  cursor: pointer;
}

#coffeeType, #coffeePlace, #coffeeNumber, #requestName, #additionalInfo {
  margin-left: 20%;
  margin-bottom: 5%;
  text-align: center;
  float: center;
  display: block;
  width: 60%;
}

#coffeeNumber {
  width: 40%;
  margin-left: 30%;
}

#coffeeType {
  margin-top: 15%;
}


#noCoffeeHeadline {
  color: black !important;
}


#map {
    height: 100%;
}

.mapbuttons {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}

#biblo {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}
/* END OF GOOGLE MAP CSS */

/* ONSEN UI CSS */
body .page__background, .select-input {
  background-color: beige;
  color: black !important;
}
/* END OF ONSEN UI */

/* OTHER PAGE CSS */
#optionButtons {
  width: 90%;
  margin: auto;
  text-align: center;
  color: white;
}

#optionButtons img{
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#optionButtons h1{
  position: relative;
  display: block;
}

#getCoffee {
  position: absolute;
  margin: auto;
  top: 0;
  right: 1;
  bottom: 0;
  left: 0;

  height: 70%;
  width: 48%;

  border: 2px solid black;
}

#runCoffee {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1;

  height: 70%;
  width: 48%;

  border: 2px solid black;
}

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #ea6a34;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
/* END OF PAGE CSS */